<!-- Validation failure messages -->
<% if @meeting.present? %>
  <% if @meeting.errors.any? %>
    <% @meeting.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new meeting
</h1>

<hr>

<form action="/create_meeting" method="post">
  <!-- Label and input for first_participant -->
  <div class="form-group">
    <label for="first_participant">
      First participant
    </label>

    <input type="text" id="first_participant" name="first_participant" class="form-control" value="<%= @meeting.try(:first_participant) %>">
  </div>

  <!-- Label and input for second_participant -->
  <div class="form-group">
    <label for="second_participant">
      Second participant
    </label>

    <input type="text" id="second_participant" name="second_participant" class="form-control" value="<%= @meeting.try(:second_participant) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create meeting
  </button>
</form>

<hr>

<a href="/meetings">
  Go back
</a>
